html, body, h1, h2, h3, h4, h5, h6, table, tr, td, fieldset, p, ul, ol, li, dl, dt, dd, form {
  margin: 0;
  padding: 0;
  border: 0;
}


@font-face {
  font-family: 'SimplisticSans-Bold';
  src:  url('SimplisticSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplisticSans-Medium';
  src:  url('SimplisticSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplisticSans-Normal';
  src:  url('SimplisticSans-Normal.ttf') format('truetype');
}




html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */

  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */

  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */

 
 
 
color: white;

}

html#homepage {
	background: url(clouds.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

body {
	font-family: "SimplisticSans-Bold";
	margin: 0 auto;
	padding: 2.4em 1.6em;
	text-rendering: optimizeLegibility;
	/* background-color: white; */
}


#menu img {
	width: 5.2em;
	height: auto;
	padding-bottom: 0.8em;
}

#article,
#footer,
#bodytekst {
	clear: both;
	padding-top: 2.2em;
}

#artikelrij+#article {
	padding-top: 1.1em;
}

#bodytekst {
	padding-top: 0.8em;
}

#menu li,
#footer li,
#artikelrij li,
strong.shout,
h1, h2, h3 {
	font-family: "SimplisticSans-Bold";
}

h1, h2, h3,
strong.shout {
	font-weight: 500;
}

h1 {
	font-size: 3.6em;
	line-height: 0.4;

	margin-bottom: 0.2em;
}

h2 {
	font-size: 1.3em;
	line-height: 1.8;
	margin-bottom: 0.3em;
	font-family: "SimplisticSans-Normal";
}

h3 {
	font-size: 2em;
	line-height: 1.2;
	padding: 0.3em 0.5em;
}

h4 {
	font-size: 0.7em;
	line-height: 1.0; 
	font-family: "SimplisticSans-Normal";
	text-align: center;

}



#bodytekst h2 {
	margin-bottom: 0.75em;	
}

p, li {
	font-size: 1.0em;
	line-height: 1.15; 
	font-family: "SimplisticSans-Normal";

	
	margin-bottom: 1.25em; 

    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; 
}

strong.shout { /* voor kreten aan begin van regel */
	font-size: 1.25em;
}


#shotjeverhaal h1,
#shotjeverhaal h2,
#shotjeverhaal div {
	font-family: 'Volkhov';
}



#shotjeverhaal h1 {
	font-size: 2.4em;
	line-height: 1;
	margin-bottom: 0.4em;
	}

#shotjeverhaal h2 {
	font-size: 1.4em;
	line-height: 1;
	margin-bottom: 1em;
	margin-top: 2em;
}

#shotjeverhaal div {
	line-height: 1.2;
}


a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

sup {
	line-height: 0;
}

#filtermenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#filtermenu a {
	float: left;
	display: block;
	width: 85px;
	margin-right: 1em;
	height: 130px;

	text-decoration: none;
}

#filtermenu div.blokje {
	display: block;
	width: 85px;
	height: 85px;
	margin: 0 0 8px 0;
	text-decoration: none;
}

#filtermenu a:hover div.blokje,
#filtermenu a:focus div.blokje {
	border: 5px solid white;
	margin: -5px -5px 3px -5px;
}



.highlight {
	color: #325fa2;
	opacity: 0.8;
}



/* images */

img.size-large {
	width: 100%;
	height: auto;
}

.embed-youtube,
.embed-vimeo {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 1.25em;
}
.embed-youtube iframe,
.embed-vimeo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img.centered {
	display: block;
	xxmargin-left: auto;
	xxmargin-right: auto;
	}

img.alignright {
	padding: 0;
	margin: 0 0 0.8em 0.8em;
	display: inline;
	width: 33.33%;
	height: auto;
	}

img.alignleft {
	padding: 0;
	margin: 0 0.8em 0.8em 0;
	display: inline;
	width: 33.33%;
	height: auto;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}

.powerpress_player {
	margin-bottom: 1.25em;	
}

