<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<script type="text/javascript">
		$(document).ready(function(){
		        // iOS web app full screen hacks.
		        if(window.navigator.standalone == true) {
		                // make all link remain in web app mode.
		                $('a').click(function() {
		                        window.location = $(this).attr('href');
		            return false;
		                });
		        }
		});
		</script>



		<title>Krek</title>

		<link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet" />

		<link rel="stylesheet" media="all and (max-width:660px)" href="klein.css" /> 
		<link rel="stylesheet" media="all and (min-width:661px)" href="groot.css" />
		<link rel="stylesheet" href="style.css" />

	</head>
	<body>
        <div class="jumbotron">
            <div class="container">
                <h1>Krek</h1>
                <h2>een verhaal voor nu</h2>
<!--
                <p th:text="'Het is ' + ${seizoen} + '. Het is ' + ${weekdag} + ' en het is ' + ${temperatuur} + ' graden.'">
                    Het is winter. Het is maandag en het is 0 graden.
                </p>
-->
<!--
                <h3 th:text="'Het was nog ' + ${donker} + ', toen in de ' + ${dagdeel} + ' van de ' + ${rangtelwoord} + ' ' + ${maand} + ' ' + ${jaar} + ' in ' + ${stad} + '...'">
                    Het was nog donker, toen in de vroege morgen van de twee en twintigste December 1946 in onze stad...
                </h3>
-->
                <h3>Het was <span class="highlight" th:text="${donker}">donker</span>, toen in de <span class="highlight" th:text="${dagdeel}">ochtend</span> van de <span class="highlight" th:text="${rangtelwoord}">twee en twintigste</span> <span th:text="${maand}">Maart</span> <span th:text="${jaar}">2017</span> in <span class="highlight" th:text="${stad}">Eindhoven</span>…
                </h3>

                <h2>Kies een filter</h2>
                
<!--
                <ul id="filtermenu">
	                <li><a href="/verhaal"><span style="background-color: blue;"></span>Hadewych</a></li>
	                <li><a href="/verhaal"><span style="background-color: purple;"></span>Frits</a></li>
                </ul>
-->

<!--                 <p><a class="btn btn-primary btn-lg" href="/verhaal" role="button">Go &raquo;</a></p> -->
            </div>
        </div>

		<div id="filtermenu" th:each="filter : ${filters}">
			
			<a class="filteritem" href="/verhaal">
			<div class="blokje" th:attr="style='background-color: rgba(' + ${filter.color.red} + ',' + ${filter.color.green} + ',' + ${filter.color.blue} + ',0.6);'"></div>
			
			<h4 class="tekst" th:text="${filter.name}">Hadewych</h4>
            
			</a>
		</div>
		<div style="clear: both;"></div>
		
		
		<div id="shotjeverhaal">
			<h1>Vandaag zie je er...</h1>
			<h2>Peter Verhelst</h2>
			
			
			<p>Vandaag zie je er zo merkwaardig gaaf uit.<br />
die glimlach van je<br />
alsof een parkiet over je gezicht klimt.</p>

<p>Voor het eerst in jaren beweegt het  kogelgewricht weer, de kop<br />
wentelt weer in de kom, de pezen van de lach<br />
spannen zich weer op, terwijl je zegt: weet je nog,<br />
we lagen op een rots over de inham uit te kijken en we wisten<br />
dat het nooit mooier kon worden dan dit</p>

<p>en daarna keken we in de zon.<br />
Schepen voeren voorbij, alsof ze een berg wilden verplaatsen.<br />
ik nam je gezicht vast zoals je handen rond de kop legt<br />
van een hond en met je duimen de ooghoeken naar achteren<br />
en het fluweel van de oren in glansrichting streelt.</p>

<p>Ben je gelukkig nu?</p>

<p>Op de rots krult de hond zich nog op, zijn poten<br />
onder zijn lichaam gevouwen, de neus tegen zijn staart. Kijk<br />
hoe hij trilt op de rots als de schaduw van een hijgend boompje.</p>

<p>Zo’n zonde dat we nooit echt de tijd hebben genomen om…</p>
		</div>
	</body>
</html>
