<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Krek</title>
		<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
        <div class="jumbotron">
            <div class="container">
                <h1>Krek</h1>
                <p th:text="'Het is ' + ${seizoen} + '. Het is ' + ${weekdag} + ' en het is ' + ${temperatuur} + ' graden.'">
                    Het is winter. Het is maandag en het is 0 graden.
                </p>
                <p th:text="'Het was nog ' + ${donker} + ', toen in de ' + ${dagdeel} + ' van de ' + ${rangtelwoord} + ' ' + ${maand} + ' ' + ${jaar} + ' in ' + ${stad} + '...'">
                    Het was nog donker, toen in de vroege morgen van de twee en twintigste December 1946 in onze stad...
                </p>
                <p><a class="btn btn-primary btn-lg" href="/verhaal" role="button">Go &raquo;</a></p>
            </div>
        </div>
	</body>
</html>
