<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="nl" th:attr="style='background-color: rgba(' + ${filter.color.red} + ',' + ${filter.color.green} + ',' + ${filter.color.blue} + ',1.0); background-blend-mode: soft-light;',id=${filter.name}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<script src="/stay_standalone.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

		<title th:text="${titel} + ' - ' + ${auteur} + ' - Krek'">Titel - Auteur - Krek</title>

		<link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet" />

		<link rel="stylesheet" media="all and (max-width:660px)" href="/klein.css" /> 
		<link rel="stylesheet" media="all and (min-width:661px)" href="/groot.css" />
		<link rel="stylesheet" href="/style.css" />

		<link rel="apple-touch-icon" href="/app_icoon_krek.png" />

</head>
<body>

    <h1><a href="/">Krek</a></h1>

    <div id="shotjeverhaal">

	    <h2 th:text="${auteur}">Auteur</h2>
	    <h1 th:text="${titel}">Titel</h1>
	    
	    <p align="center" class="player">
            <img th:src="${filter.name == 'Ollie'}? '/icoon_audio_black.png' : '/icoon_audio.png'" height="85" width="85" />
            <audio id="audio">
                <source th:attr="src=${audioLink}" type="audio/mpeg" />
            </audio>
        </p>
	    
	    <div th:utext="${tekst}">Tekst.</div>
	   
	    <div id="oproep" th:utext="${oproepTotActie}">Call to action.</div>

	    
	</div>

    <script type="application/javascript">
        var getaudio = $('#audio')[0];
        var playing = false;

        $(document).on('click touchend', '.player', function() {
            if (!$('.player').hasClass("playing")) {
                if (playing == false) {
                    $('.player').addClass('playing');
                    getaudio.load();
                    getaudio.play();
                    playing = true;
                    return false;
                } else if (playing == true) {
                    $('.player').addClass('playing');
                    getaudio.play()
                }
            } else if ($('.player').hasClass('playing')) {
                getaudio.pause();
                $('.player').removeClass('playing');
                playing = true;
            }
        });

        $('#audio').on('ended', function() {
            $('.player').removeClass('playing');
            playing = false;
        });
    </script>
</body>
</html>
